* {
    margin: 0;
    padding: 0;
}

/* 主体 */
#main {
    width: 100%;
    height: max-content;
    background-color: rgb(50, 50, 50);
}
.top_header{
    background-color: #fff;
}
/* 内容 */
.cont {
    width: 100%;
    height: max-content;
    padding-top: 40px;
    overflow: hidden;
    background-color: #fff;
}

/* 标题 */
.cont h1 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
}

/* 三个按钮 */
.cont_btn {
    width: 100%;
    height: 50px;
    text-align: center;
}

.cont_btn span {
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border: 3px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.cont_btn .col {
    color: salmon;
    border-bottom: 3px solid salmon;
}

/* 商品详情 */
.comm {
    width: 100%;
    height: max-content;
    background-color: rgb(247, 247, 247);
    padding: 20px 0px;
    /* display: flex;
    justify-content: space-around; */
}

.comm_big {
    margin: auto;
    width: 1100px;
    height: max-content;
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comm_life{
    display: none;
    margin: auto;
    width: 1100px;
}
/* 单个商品 */
.comm_small {
    width: 240px;
    height: 250px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}

.comm_small:nth-of-type(4) {
    margin-right: 0px;
}

.comm_small img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.comm_title {
    width: 100%;
    height: 60px;
    padding-left: 8px;
    box-sizing: border-box;
}

.comm_title span {
    font-size: 12px;
}

.price {
    width: 100%;
    padding-left: 8px;
    box-sizing: border-box;
    overflow: hidden;
    color: red;
}

.xin {
    float: right;
    margin-right: 8px;
    color: rgb(154, 154, 154);
}

.xin img {
    width: 20px;
}

/* 品类样式 */

.life,
.nurse,
.health,
.apparel,
.trip,
.outdoors,
.photo,
.phone {
    width: 100%;
    margin-bottom: 40px;
    padding: 25px 0px;
    background-color: #fff;
    border-radius: 5px;
}

.tit {
    width: 100%;
    height: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    /* line-height: 30px; */
}

.life_s,
.nurse_s,
.health_s,
.apparel_s,
.trip_s,
.outdoors_s,
.photo_s,
.phone_s {
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.life_s li,
.nurse_s li,
.health_s li,
.apparel_s li,
.trip_s li,
.outdoors_s li,
.photo_s li,
.phone_s li {
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.life_s li img,
.nurse_s li img,
.health_s li img,
.apparel_s li img,
.trip_s li img,
.outdoors_s li img,
.photo_s li img,
.phone_s li img {
    width: 130px;
}

/* 加载 */
.load {
    width: 100%;
    text-align: center;
    background-color: rgb(247, 247, 247);
    font-size: 16px;
    color: salmon;
    padding-bottom: 40px;
}

.load span {
    cursor: pointer;
}